
.formControl.error input,
.formControl.error textarea {
border: 2px red solid;
}

.formControl.error span{
color:red;
}

.formsummaryerror {
    border: red 1px solid;
    padding: 5px;
    color:blue;
}