.descriptionBlock {
  padding: 10px;
  background-color: rgb(23, 177, 18);
}
.mainPhoto {
  max-width: 256px;
  max-height: 256px;
  
}
.contact {
  padding-left: 10px;
  background-color: rgb(23, 177, 18);
}
.Background {
  background-color: rgb(23, 177, 18);
}