.app-wrapper {
  margin: 0 auto;
  display: grid;
  width: 95%;
 grid-template-areas:
 "h h"
 "n c";
 /* 1 ryad 1 stolb - headER
 1 ryad 2 stolb - header
 2 ryad 1 stolb - SIDE-BUTTONS
 2 ryad 2 stolb - content */
 grid-template-rows: 60px 1fr;
/* 1 HEADER 60 px, 2 VSE NIJE 1 fraction */
 grid-template-columns: 2fr 10 fr;
 /*SIDE-BUTTONS 2 fr, CONTENT 10 fr */

 /* grid-gap: 10px;  */


}
.app-wrapper-content {
grid-area: c;
background-color: rgb(23, 177, 18);
border-bottom-right-radius:15px ;


}
@media (max-width:1200px) {
.app-wrapper {
  max-width:970px;
}  
}
@media (max-width:992px) {
  .app-wrapper {
    max-width:750px;
  }  
  }
  @media (max-width:768px) {
    .app-wrapper {
      max-width:none;
    }  
    }
      